<div class="row">
<div class="page-heading"> 
	<h1> Careers </h1> 
</div>
<p class="here">You are here: <%= link_to "home > ", root_path %> careers</p>

<div class="background">
	  <div class="transbox">
	    <h3>Welcome to CCPT The High Performance Organisation</h3>
	  </div>
</div>
</div>

<div class="row">
<div class="careerwraper">	
	<div class="pdfviewer">
	<h4>Competition & Consumer Protecton </h4>
		<iframe src="http://extwprlegs1.fao.org/docs/pdf/zam102117.pdf" style="width: 80%; height:700px;" frameborder="0">      </iframe>
	</div>
</div>

</div>