<section class="contacts">
	<h1>Thank you for the message and for contacting us!</h1>
	<h1>Thank you for getting in touch with us!</h1>
	<p style="text-align: center">Be rest assured, we'll get back to you soon!</p>
</section>