
#home {
	
}

#sitemap {
	
}

.welcome{
	/*margin-left: 5%;
	margin-right: 5%;*/
	width: 100%;
	text-align: center;
}
.main-top{
	width: 100%;
	text-align: center;
	height:300px;
	background: grey;
}

.main-middle{
	width: 100%;
	text-align: center;
	height:300px;
	background: #FAEBD7;

}