<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <h5> About CCPT </h5>
                    <p class="Intro"> The Competition and Consumer Protection Tribunal (CCPT) hears any appeal made to it under the Competition and Consumer Protection Act, No. 24 of 2010 and performs such actions as assigned to it under the Act or any other law.</p>

                    <ul class="cities">
                        <li> <a href="#"><span>&#8226; Lusaka </a></span></li>
                        <li> <a href="#"><span>&#8226; Kitwe </span></a></li>
                        <li> <a href="#"><span>&#8226; Chipata </span></a></li>
                        <li> <a href="#"><span>&#8226; Solwezi</a></span></li>
                        <li> <a href="#"><span>&#8226; Mongu </a></span></li>
                        <li> <a href="#"><span>&#8226; Kasama </a></span></li>
                        <li> <a href="#"><span>&#8226; Chinsali</a></span></li>
                        <li> <a href="#"><span>&#8226; Mansa </a></span></li>
                        <li> <a href="#"><span>&#8226; Kabwe </a></span></li>
                        <li> <a href="#"><span>&#8226; Livingstone</a></span></li>
                       
                    </ul>
                </div>
                <div class="col-md-3 col-xs-6">
                    <h5> Get in Touch</h5>
                    <p class="Intro"> The Tribunal Secretariate is located on the 9th Floor, New Government Complex Building, sharing the same floor with the Ministry of Commerce, Trade and Industry. Further, you may wish to contact the Head of the Competition and Consumer Protection Tribunal Secretariate using the following contacts: <br>
                    +260-211-228303/4 or email Kelvin.Kamayoyo@mcti.gov.zm.

                    </p>
                </div>
                <div class="col-md-3 ">
                    <h5> Connect With Us </h5>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h5> Related links </h5>
                    <ul>
                        <li> <a href="http://www.mcti.gov.zm/"> → Ministry of Commerce</a> </li>
                        <li> <a href="#"> → Comesa Competition Comission </a> </li>
                        <li> <a href="http://www.erb.org.zm/viewpage.php?page=news"> → Energy Regulation Board </a> </li>
                        <li> <a href="#"> → International Competition Network</a> </li>
                        <li> <a href="#"> → Zambia Beureu of Standards </a> </li>
                        <li> <a href="#"> → ZICTA</a> </li>
                        <li> <a href="https://www.ccpc.org.zm/" target="blank"> → CCPC</a> </li>
                
                    </ul>
                </div>
                
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Competition and consumer protection tribunal. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li>Home |</li>
                    <li>Blog |</li>
                    <li>Contact |</li>
                    <li>FAQ</li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>